!/.mvn/wrapper/maven-wrapper.jar
*$py.class
**/*.iml
**/.classpath
**/.project
**/target/
*.bak
*.class
*.cover
*.ctxt
*.DS_Store
*.ear
*.egg
*.egg-info/
*.iws
*.jar
*.launch
*.log
*.manifest
*.mo
*.pot
*.py[cod]
*.pydevproject
*.rar
*.sage.py
*.so
*.spec
*.swp
*.tar.gz
*.tmp
*.war
*.zip
*~.nib
.buildpath
.cache
.cache-main
.coverage.*
.cproject
.eggs/
.env
.externalToolBuilders/
.factorypath
.hypothesis/
.idea
.idea_modules/
.installed.cfg
.ipynb_checkpoints
.loadpath
.metadata
.mtj.tmp/
.mvn/timing.properties
.mypy_cache/
.Python
.python-version
.recommenders
.ropeproject
.scala_dependencies
.scrapy
.settings/
.springBeans
.spyderproject
.spyproject
.target
.tern-project
.texlipse
.tox/
.venv
.webassets-cache
.worksheet
/site
__pycache__/
atlassian-ide-plugin.xml
bin/
build/
buildNumber.properties
celerybeat-schedule
cmake-build-debug/
com_crashlytics_export_strings.xml
coverage.xml
crashlytics-build.properties
crashlytics.properties
dependency-reduced-pom.xml
develop-eggs/
dist/
docs/_build/
downloads/
eggs/
env.bak/
env/
ENV/
fabric.properties
hs_err_pid*
htmlcov/
instance/
lib/
lib64/
local.properties
local_settings.py
MANIFEST
nosetests.xml
out/
parts/
pip-delete-this-directory.txt
pip-log.txt
pom.xml.next
pom.xml.releaseBackup
pom.xml.tag
pom.xml.versionsBackup
release.properties
sdist/
tmp/
var/
venv.bak/
venv/
wheels/
assertions-generation-report.txt
hyper-collate-core/src/test/generated-assertions/
**/dependency-reduced-pom.xml
test-*.txt